/* General */

.full-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: rgba(206, 219, 221, 0.534);
}

.button {
    position: relative;
    left: 1rem;
    border: none;
    border-radius: 2px;
    padding: .5rem;
    width: 6rem;
    box-shadow: inset -1px -1px 1px 0px rgb(95, 95, 95);

}

.button:hover {
    background-color: rgb(180, 180, 180);
}

#content {
    padding: 0;
    margin: 1rem;
}

a {
    text-decoration: none;
}

/* Add Message */

#new-msg {
    font-size: 14px;
    position: relative;
    left: 1rem;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .2rem;
    width: 98%;
    resize: none;
    border: 1px solid rgb(95, 95, 95);
}

#msg-log {
    border-color: black;
}

/* Navigation */

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323232;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    float: left;
}

.nav-link:hover {
    background-color: black;
}

/* Message Board */

#msg-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.msg {
    border: 1px solid #e2e2e2;
    font-style: italic;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.555);
}

.msg:hover {
    background-color: #fadd7ed7;
}

.msg-delete-btn {
    position: absolute;
    right: 60px;
    border: none;
    border-radius: 2px;
    text-align: center;
    box-shadow: inset -1px -1px 1px 0px rgb(95, 95, 95);
}